body {
  background-image: url("../images/facepalm.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
  font-family: 'Teko', sans-serif;
  font-size: 1.15rem;
}

h1 {
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: 'StarTrek';
  font-size: 50pt;
  margin: -5px 10px -60px;
}

h6 {
  color: white;
  /* font-size: 1.2rem; */
  /* font-family: 'StarTrek'; */
  font-size: 16pt;
  padding-top: 8px;
  padding-bottom: 0px;

}

p {
  color: rgb(180, 253, 180);
  font-size: 1.3rem;
  padding-top: 10px;
}

.playerCard {
  border-width: 2px;
  border-style: solid;
  background-color: white;
  border-color: blue;
  padding: 0px;
}

.heroCard {
  border-width: 2px;
  border-style: solid;
  background-color: white;
  border-color: green;
  padding: 0px;
  /* margin: 10px; */
}

.enemyCard {
  border-width: 2px;
  border-style: solid;
  background-color: red;
  border-color: black;
  padding: 0px;
}

.defenderCard {
  border-width: 2px;
  border-style: solid;
  background-color: black;
  border-color: green;
  color: white;
  padding: 0px;
}

.defenderImage {
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.btn {
  font-size: 14pt;
  padding: 3px 10px;
}

.rounded {
  border-radius: 10px !important;
}

#battleLog {
  height: 62px;
}

@font-face {
  font-family: 'StarTrek';
  src:url('../fonts/StarTrek.ttf.woff') format('woff'),
      url('../fonts/StarTrek.ttf.svg#StarTrek') format('svg'),
      url('../fonts/StarTrek.ttf.eot'),
      url('../fonts/StarTrek.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}