body {
  background-image: url("../images/facepalm.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
}

h1 {
  color: white;
  font-family: 'StarTrek';
  font-size: 50pt;
}

h6 {
  color: white;
  /* font-size: 1.2rem; */
  /* font-family: 'StarTrek'; */
  font-size: 12pt;
  padding-top: 10px;
}

p {
  color: white;
}

#playerChar {
  /* height: 145px; */
}

.playerCard {
  border-width: 2px;
  border-style: solid;
  background-color: white;
  border-color: blue;
}

#heroCard {
  border-width: 2px;
  border-style: solid;
  background-color: white;
  border-color: green;
}

.enemyCard {
  border-width: 2px;
  border-style: solid;
  background-color: red;
  border-color: black;
}

#defenderCard {
  border-width: 2px;
  border-style: solid;
  background-color: black;
  border-color: green;
  color: white;
}

#defenderImage {
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.spacerDiv {
  height: 50px;
}

@font-face {
  font-family: 'StarTrek';
  src:url('../fonts/StarTrek.ttf.woff') format('woff'),
      url('../fonts/StarTrek.ttf.svg#StarTrek') format('svg'),
      url('../fonts/StarTrek.ttf.eot'),
      url('../fonts/StarTrek.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
