body {
  background-image: url("../images/facepalm.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
  font-family: 'Teko', sans-serif;
  font-size: 1.15rem;
  
}

h1 {
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: 'StarTrek';
  font-size: 50pt;
  margin: -5px 10px -10px;
}

h6 {
  color: white;
  /* font-size: 1.2rem; */
  /* font-family: 'StarTrek'; */
  font-size: 20pt;
  padding-top: 8px;
  padding-bottom: 0px;

}

p {
  /* color: rgb(77, 234, 248); */
  font-size: 18pt;
  /* padding-top: 10px; */
  padding: 0px 4px;
  /* color: white; */
}

.p2 {
  /* color: rgb(77, 234, 248); */
  font-size: 18pt;
  /* padding-top: 10px; */
  padding: px 4px;
  line-height: 100%;
  margin: 3px 3px;
  /* margin: 3px, 4px !important; */
}

.playerCard {
  border-width: 2px;
  border-style: solid;
  background-color: white;
  border-color: blue;
  padding: 0px;
  /* margin-left: 12px; */

}
.gameCard {
  border-width: 2px;
  border-style: solid;
  padding: 0px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  }

.heroCard {

  background-color: white;
  border-color: green;
  
  /* margin-left: 12px; */

  /* margin: 10px; */
}

.enemyCard {


  background-color: red;
  border-color: black;

  /* margin-left: 12px; */
  /* margin-bottom: 12px; */
}

.defenderCard {

  background-color: black;
  border-color: green;
  color: white;

  /* margin-left: 12px; */

}

.shipImage {
  margin: 10% 0px;
}

.defenderImage {
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.btn {
  font-size: 14pt;
  padding: 3px 10px;


}

#attackBtn {
  position: absolute;
  bottom: 20px;
}

.rounded {
  border-radius: 10px !important;
}

#battleLog {
  color: white;
  height: 62px;
}

#title2 {
  margin-top: 20px;
}

#logDiv {
  width: 100%;
  height: 130px;
  background-color: rgb(0, 0, 255, 0.3);
  border-style: solid;
  border-width: 2px;
  border-color: blue;
}

#card-bottom {
  -webkit-transform:rotate(-180deg);
-moz-transform:rotate(-180deg);
-o-transform:rotate(-180deg);
transform:rotate(-180deg);
ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

@font-face {
  font-family: 'StarTrek';
  src:url('../fonts/StarTrek.ttf.woff') format('woff'),
      url('../fonts/StarTrek.ttf.svg#StarTrek') format('svg'),
      url('../fonts/StarTrek.ttf.eot'),
      url('../fonts/StarTrek.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 991.98px) { 

  .container {
    width: 98%;
    max-width: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {


  .p2 {
    font-size: 14pt;
  }
  
}

@media (min-width: 600px) and (max-width: 767.98px) {
  p {
    font-size: 16pt;
  }
  .p2 {
    font-size: 10pt;
  }
}

@media (max-width: 599.98px){
  p {
    font-size: 14pt;
  }
  .p2 {
    font-size: 6pt;
  }
}
